src/node-red/local_server_dashboard.json
[
    {
        "id": "eb873eabcf0c325c",
        "type": "tab",
        "label": "Tracer: Local server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88c1cfc3ea8f28e0",
        "type": "OpcUa-Client",
        "z": "eb873eabcf0c325c",
        "endpoint": "fd41c134dc024842",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 720,
        "y": 320,
        "wires": [
            [
                "c1bea022a2e99356"
            ],
            []
        ]
    },
    {
        "id": "e81f630034a9d555",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "R",
        "format": "{{msg.payload.red.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 320,
        "wires": []
    },
    {
        "id": "eca4490d956f9d90",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "G",
        "format": "{{msg.payload.green.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 360,
        "wires": []
    },
    {
        "id": "54132515a47fca60",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "B",
        "format": "{{msg.payload.blue.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 400,
        "wires": []
    },
    {
        "id": "cd74fd9a8e0b84fa",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "L*",
        "format": "{{msg.payload.l_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 560,
        "wires": []
    },
    {
        "id": "99fb9acb51226c2a",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "a*",
        "format": "{{msg.payload.a_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 600,
        "wires": []
    },
    {
        "id": "fd518abe82ddeb00",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "b*",
        "format": "{{msg.payload.b_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 640,
        "wires": []
    },
    {
        "id": "3bdd65db9dcacc81",
        "type": "ui_chart",
        "z": "eb873eabcf0c325c",
        "name": "",
        "group": "5d6cf442f081b5b8",
        "order": 1,
        "width": 30,
        "height": 6,
        "label": "Chart L*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "900",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "9f573cbe5b5dd1c0",
        "type": "ui_chart",
        "z": "eb873eabcf0c325c",
        "name": "",
        "group": "5d6cf442f081b5b8",
        "order": 2,
        "width": 30,
        "height": 6,
        "label": "Chart a*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "900",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "70e6f6b553106ec2",
        "type": "ui_chart",
        "z": "eb873eabcf0c325c",
        "name": "",
        "group": "5d6cf442f081b5b8",
        "order": 3,
        "width": 30,
        "height": 6,
        "label": "Chart b*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "900",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0400ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#8400ff",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e64e99bd98a41620",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "X",
        "format": "{{msg.payload.x.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 440,
        "wires": []
    },
    {
        "id": "8afd85554978ac0e",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Y",
        "format": "{{msg.payload.y.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 480,
        "wires": []
    },
    {
        "id": "9810b1a6ec34afd1",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Z",
        "format": "{{msg.payload.z.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 520,
        "wires": []
    },
    {
        "id": "8352fdf8966827e7",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=2",
        "datatype": "Float",
        "value": "",
        "name": "red",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "1a2a766a10ffe4f1",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=3",
        "datatype": "Float",
        "value": "",
        "name": "green",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "b324d6140e209078",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=4",
        "datatype": "Float",
        "value": "",
        "name": "blue",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "445e2b46cef72f74",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=5",
        "datatype": "Float",
        "value": "",
        "name": "x",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "6994a25dc50a1d56",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=6",
        "datatype": "Float",
        "value": "",
        "name": "y",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "29c8a153489ec5b6",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=7",
        "datatype": "Float",
        "value": "",
        "name": "z",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "739b38768324ec55",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=8",
        "datatype": "Float",
        "value": "",
        "name": "l_star",
        "x": 490,
        "y": 600,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "3771d97d5534c6aa",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=9",
        "datatype": "Float",
        "value": "",
        "name": "a_star",
        "x": 490,
        "y": 640,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "23fd85def8320636",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=10",
        "datatype": "Float",
        "value": "",
        "name": "b_star",
        "x": 490,
        "y": 680,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "6d91a95574a2cd22",
        "type": "inject",
        "z": "eb873eabcf0c325c",
        "name": "Read multiple items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "b14eead51de2d69e",
        "type": "inject",
        "z": "eb873eabcf0c325c",
        "name": "Clear items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "c53fad53daeb5714",
        "type": "inject",
        "z": "eb873eabcf0c325c",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "8352fdf8966827e7",
                "1a2a766a10ffe4f1",
                "b324d6140e209078",
                "445e2b46cef72f74",
                "6994a25dc50a1d56",
                "29c8a153489ec5b6",
                "739b38768324ec55",
                "3771d97d5534c6aa",
                "23fd85def8320636"
            ]
        ]
    },
    {
        "id": "c1bea022a2e99356",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "change topic",
        "func": "msg.topic = msg.topic.browseName;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 320,
        "wires": [
            [
                "8a973580f3af5135"
            ]
        ]
    },
    {
        "id": "8a973580f3af5135",
        "type": "join",
        "z": "eb873eabcf0c325c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "9",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "e81f630034a9d555",
                "eca4490d956f9d90",
                "54132515a47fca60",
                "e64e99bd98a41620",
                "8afd85554978ac0e",
                "9810b1a6ec34afd1",
                "cd74fd9a8e0b84fa",
                "99fb9acb51226c2a",
                "fd518abe82ddeb00",
                "05ef50cb3ebafbfe",
                "fb96c0fd92ecc5f0",
                "93d9fd019553f26a"
            ]
        ]
    },
    {
        "id": "05ef50cb3ebafbfe",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "get data",
        "func": "return {topic: 'L*', payload: msg.payload.l_star}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 720,
        "wires": [
            [
                "3bdd65db9dcacc81"
            ]
        ]
    },
    {
        "id": "fb96c0fd92ecc5f0",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "get data",
        "func": "return {topic: 'a*', payload: msg.payload.a_star}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 760,
        "wires": [
            [
                "9f573cbe5b5dd1c0"
            ]
        ]
    },
    {
        "id": "93d9fd019553f26a",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "get data",
        "func": "return {topic: 'b*', payload: msg.payload.b_star}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 800,
        "wires": [
            [
                "70e6f6b553106ec2"
            ]
        ]
    },
    {
        "id": "65cda051a47b7344",
        "type": "ui_spacer",
        "z": "eb873eabcf0c325c",
        "name": "spacer",
        "group": "d5fe31f4a765376e",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "bc707735be588e23",
        "type": "ui_spacer",
        "z": "eb873eabcf0c325c",
        "name": "spacer",
        "group": "d5fe31f4a765376e",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "7c4c4a5d9bb3d94f",
        "type": "ui_spacer",
        "z": "eb873eabcf0c325c",
        "name": "spacer",
        "group": "534cf1315e3fbc6d",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "7d0862457675cb8a",
        "type": "ui_spacer",
        "z": "eb873eabcf0c325c",
        "name": "spacer",
        "group": "534cf1315e3fbc6d",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "fd41c134dc024842",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://localhost:4840/concrete_candy_tracker/",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "d5fe31f4a765376e",
        "type": "ui_group",
        "name": "Color values",
        "tab": "5971935a47a16e3f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d6cf442f081b5b8",
        "type": "ui_group",
        "name": "Charts",
        "tab": "5971935a47a16e3f",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "534cf1315e3fbc6d",
        "type": "ui_group",
        "name": "Color values",
        "tab": "2e1c62c854894ff8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5971935a47a16e3f",
        "type": "ui_tab",
        "name": "Tracer: Local server",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2e1c62c854894ff8",
        "type": "ui_tab",
        "name": "Tracer: Remote server",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]