src/node-red/local_server_dashboard.json
[
    {
        "id": "eb873eabcf0c325c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88c1cfc3ea8f28e0",
        "type": "OpcUa-Client",
        "z": "eb873eabcf0c325c",
        "endpoint": "72148c59cec0103e",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 720,
        "y": 320,
        "wires": [
            [
                "bfc6afe4ec4369dc"
            ]
        ]
    },
    {
        "id": "e81f630034a9d555",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "R",
        "format": "{{msg.r.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 260,
        "wires": []
    },
    {
        "id": "eca4490d956f9d90",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "G",
        "format": "{{msg.g.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 300,
        "wires": []
    },
    {
        "id": "54132515a47fca60",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "B",
        "format": "{{msg.b.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 340,
        "wires": []
    },
    {
        "id": "cd74fd9a8e0b84fa",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "L*",
        "format": "{{msg.l_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 500,
        "wires": []
    },
    {
        "id": "99fb9acb51226c2a",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "a*",
        "format": "{{msg.a_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 540,
        "wires": []
    },
    {
        "id": "fd518abe82ddeb00",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "b*",
        "format": "{{msg.b_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 580,
        "wires": []
    },
    {
        "id": "bfc6afe4ec4369dc",
        "type": "switch",
        "z": "eb873eabcf0c325c",
        "name": "Values",
        "property": "browseName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blue",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "z",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "l_star",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a_star",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "b_star",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 9,
        "x": 910,
        "y": 320,
        "wires": [
            [
                "c9fb82be58993cac"
            ],
            [
                "f6bd2cec2451b302"
            ],
            [
                "b010a7a2632692d3"
            ],
            [
                "b2e948eb5499d24a"
            ],
            [
                "ea8408e568be8bfc"
            ],
            [
                "ebd62f6d45d3b58a"
            ],
            [
                "f8fa993bce8ae231"
            ],
            [
                "1bc1839dccf91953"
            ],
            [
                "ce2efa370993dfd1"
            ]
        ]
    },
    {
        "id": "c9fb82be58993cac",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.r = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "e81f630034a9d555"
            ]
        ]
    },
    {
        "id": "f6bd2cec2451b302",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.g = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "eca4490d956f9d90"
            ]
        ]
    },
    {
        "id": "b010a7a2632692d3",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.b = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "54132515a47fca60"
            ]
        ]
    },
    {
        "id": "f8fa993bce8ae231",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.l_star = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 500,
        "wires": [
            [
                "cd74fd9a8e0b84fa",
                "3bdd65db9dcacc81"
            ]
        ]
    },
    {
        "id": "1bc1839dccf91953",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.a_star = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 540,
        "wires": [
            [
                "99fb9acb51226c2a",
                "9f573cbe5b5dd1c0"
            ]
        ]
    },
    {
        "id": "ce2efa370993dfd1",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.b_star = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 580,
        "wires": [
            [
                "fd518abe82ddeb00",
                "70e6f6b553106ec2"
            ]
        ]
    },
    {
        "id": "3bdd65db9dcacc81",
        "type": "ui_chart",
        "z": "eb873eabcf0c325c",
        "name": "",
        "group": "5d6cf442f081b5b8",
        "order": 1,
        "width": 30,
        "height": 6,
        "label": "Chart L*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "600",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1500,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9f573cbe5b5dd1c0",
        "type": "ui_chart",
        "z": "eb873eabcf0c325c",
        "name": "",
        "group": "5d6cf442f081b5b8",
        "order": 2,
        "width": 30,
        "height": 6,
        "label": "Chart a*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "600",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1500,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "70e6f6b553106ec2",
        "type": "ui_chart",
        "z": "eb873eabcf0c325c",
        "name": "",
        "group": "5d6cf442f081b5b8",
        "order": 3,
        "width": 30,
        "height": 6,
        "label": "Chart b*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "600",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0400ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#8400ff",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1500,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e64e99bd98a41620",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "X",
        "format": "{{msg.x.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 380,
        "wires": []
    },
    {
        "id": "8afd85554978ac0e",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Y",
        "format": "{{msg.y.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 420,
        "wires": []
    },
    {
        "id": "9810b1a6ec34afd1",
        "type": "ui_text",
        "z": "eb873eabcf0c325c",
        "group": "d5fe31f4a765376e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Z",
        "format": "{{msg.z.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 460,
        "wires": []
    },
    {
        "id": "b2e948eb5499d24a",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.x = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 380,
        "wires": [
            [
                "e64e99bd98a41620"
            ]
        ]
    },
    {
        "id": "ea8408e568be8bfc",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.y = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 420,
        "wires": [
            [
                "8afd85554978ac0e"
            ]
        ]
    },
    {
        "id": "ebd62f6d45d3b58a",
        "type": "function",
        "z": "eb873eabcf0c325c",
        "name": "Function",
        "func": "msg.z = msg.payload.toString()*1.0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "9810b1a6ec34afd1"
            ]
        ]
    },
    {
        "id": "c179e7cae29df13a",
        "type": "inject",
        "z": "eb873eabcf0c325c",
        "name": "Timer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "8352fdf8966827e7",
                "1a2a766a10ffe4f1",
                "b324d6140e209078",
                "445e2b46cef72f74",
                "6994a25dc50a1d56",
                "29c8a153489ec5b6",
                "739b38768324ec55",
                "3771d97d5534c6aa",
                "23fd85def8320636"
            ]
        ]
    },
    {
        "id": "8352fdf8966827e7",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=2",
        "datatype": "Float",
        "value": "",
        "name": "red",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "1a2a766a10ffe4f1",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=3",
        "datatype": "Float",
        "value": "",
        "name": "green",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "b324d6140e209078",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=4",
        "datatype": "Float",
        "value": "",
        "name": "blue",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "445e2b46cef72f74",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=5",
        "datatype": "Float",
        "value": "",
        "name": "x",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "6994a25dc50a1d56",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=6",
        "datatype": "Float",
        "value": "",
        "name": "y",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "29c8a153489ec5b6",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=7",
        "datatype": "Float",
        "value": "",
        "name": "z",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "739b38768324ec55",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=8",
        "datatype": "Float",
        "value": "",
        "name": "l_star",
        "x": 490,
        "y": 600,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "3771d97d5534c6aa",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=9",
        "datatype": "Float",
        "value": "",
        "name": "a_star",
        "x": 490,
        "y": 640,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "23fd85def8320636",
        "type": "OpcUa-Item",
        "z": "eb873eabcf0c325c",
        "item": "ns=2;i=10",
        "datatype": "Float",
        "value": "",
        "name": "b_star",
        "x": 490,
        "y": 680,
        "wires": [
            [
                "88c1cfc3ea8f28e0"
            ]
        ]
    },
    {
        "id": "8d255867e6e948dd",
        "type": "ui_spacer",
        "z": "eb873eabcf0c325c",
        "name": "spacer",
        "group": "d5fe31f4a765376e",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "76a6f1d83214b0ba",
        "type": "ui_spacer",
        "z": "eb873eabcf0c325c",
        "name": "spacer",
        "group": "d5fe31f4a765376e",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "72148c59cec0103e",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://localhost:4840/freeopcua/server/",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "d5fe31f4a765376e",
        "type": "ui_group",
        "name": "Color values",
        "tab": "5971935a47a16e3f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d6cf442f081b5b8",
        "type": "ui_group",
        "name": "Charts",
        "tab": "5971935a47a16e3f",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5971935a47a16e3f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]