src/acquisition/node-red/remote_server_dashboard.json
[
    {
        "id": "08db96a6403c046a",
        "type": "tab",
        "label": "Tracer: Remote server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69c3485e018c9d80",
        "type": "OpcUa-Client",
        "z": "08db96a6403c046a",
        "endpoint": "b957cf51dbbecd3e",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "8ffec01972e50b29"
            ],
            []
        ]
    },
    {
        "id": "fa714fc5e146f74a",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "R",
        "format": "{{msg.payload.red.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 340,
        "wires": []
    },
    {
        "id": "e78fd5ccf47e48ea",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "G",
        "format": "{{msg.payload.green.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 380,
        "wires": []
    },
    {
        "id": "13666c880696fb3b",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "B",
        "format": "{{msg.payload.blue.toFixed(1)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b67831122b39933",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "L*",
        "format": "{{msg.payload.l_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 580,
        "wires": []
    },
    {
        "id": "ecf25146f09f3eb2",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "a*",
        "format": "{{msg.payload.a_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 620,
        "wires": []
    },
    {
        "id": "dd1d037815c98b22",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "b*",
        "format": "{{msg.payload.b_star.toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 660,
        "wires": []
    },
    {
        "id": "3d267e9842f8f466",
        "type": "ui_chart",
        "z": "08db96a6403c046a",
        "name": "",
        "group": "d95bf3e16809bb47",
        "order": 1,
        "width": 30,
        "height": 6,
        "label": "Chart L*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "900",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1540,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "cac3caa6ed26f6f1",
        "type": "ui_chart",
        "z": "08db96a6403c046a",
        "name": "",
        "group": "d95bf3e16809bb47",
        "order": 2,
        "width": 30,
        "height": 6,
        "label": "Chart a*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "900",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1540,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "554c473965a4a190",
        "type": "ui_chart",
        "z": "08db96a6403c046a",
        "name": "",
        "group": "d95bf3e16809bb47",
        "order": 3,
        "width": 30,
        "height": 6,
        "label": "Chart b*",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "900",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0400ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#8400ff",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1540,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0c0070775e7ed5ea",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "X",
        "format": "{{msg.payload.x.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 460,
        "wires": []
    },
    {
        "id": "5c4a6c5b5fdf0df2",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Y",
        "format": "{{msg.payload.y.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 500,
        "wires": []
    },
    {
        "id": "ea0561d5e76962de",
        "type": "ui_text",
        "z": "08db96a6403c046a",
        "group": "534cf1315e3fbc6d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Z",
        "format": "{{msg.payload.z.toFixed(4)}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 540,
        "wires": []
    },
    {
        "id": "93cbafb50d7fae92",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=116",
        "datatype": "Float",
        "value": "",
        "name": "red",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "f6e5be1f656e9237",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=94",
        "datatype": "Float",
        "value": "",
        "name": "green",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "9dc9fe868ae0714d",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=95",
        "datatype": "Float",
        "value": "",
        "name": "blue",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "234abd421b1bbf4f",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=96",
        "datatype": "Float",
        "value": "",
        "name": "x",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "b808204e1844893d",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=97",
        "datatype": "Float",
        "value": "",
        "name": "y",
        "x": 490,
        "y": 520,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "7a286fb7212f7e6f",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=98",
        "datatype": "Float",
        "value": "",
        "name": "z",
        "x": 490,
        "y": 560,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "f8f8cfa2972ed873",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=99",
        "datatype": "Float",
        "value": "",
        "name": "l_star",
        "x": 490,
        "y": 620,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "61638b76abdf1a94",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=100",
        "datatype": "Float",
        "value": "",
        "name": "a_star",
        "x": 490,
        "y": 660,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "ebedc225aebbe78e",
        "type": "OpcUa-Item",
        "z": "08db96a6403c046a",
        "item": "ns=4;i=101",
        "datatype": "Float",
        "value": "",
        "name": "b_star",
        "x": 490,
        "y": 700,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "e87357c230fc3902",
        "type": "inject",
        "z": "08db96a6403c046a",
        "name": "Read multiple items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "ea712b4be8b7ef08",
        "type": "inject",
        "z": "08db96a6403c046a",
        "name": "Set items",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "93cbafb50d7fae92",
                "f6e5be1f656e9237",
                "9dc9fe868ae0714d",
                "234abd421b1bbf4f",
                "b808204e1844893d",
                "7a286fb7212f7e6f",
                "f8f8cfa2972ed873",
                "61638b76abdf1a94",
                "ebedc225aebbe78e"
            ]
        ]
    },
    {
        "id": "ba74b7d071e8b810",
        "type": "inject",
        "z": "08db96a6403c046a",
        "name": "Clear items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "69c3485e018c9d80"
            ]
        ]
    },
    {
        "id": "8ffec01972e50b29",
        "type": "function",
        "z": "08db96a6403c046a",
        "name": "change topic",
        "func": "msg.topic = msg.topic.browseName;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 340,
        "wires": [
            [
                "e98b9c5de08b776a"
            ]
        ]
    },
    {
        "id": "e98b9c5de08b776a",
        "type": "join",
        "z": "08db96a6403c046a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "9",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "67476395bb6cd206",
                "9cf8aaef98778e87",
                "953c36b5c0117486",
                "fa714fc5e146f74a",
                "e78fd5ccf47e48ea",
                "13666c880696fb3b",
                "0c0070775e7ed5ea",
                "5c4a6c5b5fdf0df2",
                "ea0561d5e76962de",
                "5b67831122b39933",
                "ecf25146f09f3eb2",
                "dd1d037815c98b22"
            ]
        ]
    },
    {
        "id": "67476395bb6cd206",
        "type": "function",
        "z": "08db96a6403c046a",
        "name": "get data",
        "func": "return {topic: 'L*', payload: msg.payload.l_star}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 740,
        "wires": [
            [
                "3d267e9842f8f466"
            ]
        ]
    },
    {
        "id": "9cf8aaef98778e87",
        "type": "function",
        "z": "08db96a6403c046a",
        "name": "get data",
        "func": "return {topic: 'a*', payload: msg.payload.a_star}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 780,
        "wires": [
            [
                "cac3caa6ed26f6f1"
            ]
        ]
    },
    {
        "id": "953c36b5c0117486",
        "type": "function",
        "z": "08db96a6403c046a",
        "name": "get data",
        "func": "return {topic: 'b*', payload: msg.payload.b_star}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 820,
        "wires": [
            [
                "554c473965a4a190"
            ]
        ]
    },
    {
        "id": "b957cf51dbbecd3e",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.129.4.30:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "534cf1315e3fbc6d",
        "type": "ui_group",
        "name": "Color values",
        "tab": "2e1c62c854894ff8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d95bf3e16809bb47",
        "type": "ui_group",
        "name": "Charts",
        "tab": "2e1c62c854894ff8",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e1c62c854894ff8",
        "type": "ui_tab",
        "name": "Tracer: Remote server",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]